[submodule "tests_api"]
	path = tests/tests_api
	url = ../tests_api.git
[submodule "haf"]
	path = haf
	url = ../haf.git
[submodule "reputation_tracker"]
	path = reputation_tracker
	url = ../reputation_tracker.git
[submodule "hafah"]
	path = hafah
	url = https://gitlab.syncad.com/hive/HAfAH.git
